.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 25vh;
}

body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.bg-image {
  /* The image used */
  background-image: url('background.jpg');

  /* Add the blur effect */
  filter: blur(9px);
  -webkit-filter: blur(10px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(12, 35, 58); /* Fallback color */
  background-color: rgba(11, 39, 81, 0.397); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 20px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  min-height: 500px;
}

h1{
  font-size: 50px;
}

.modal-backdrop {
  z-index: -1;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button-container .btn {
    width: 100px; /* Adjust the width as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px; /* Space between buttons */
}

.button-container .btn i {
    font-size: 1.5em; /* Adjust the icon size as needed */
}

.table_custom { 
  --bs-table-bg: transparent !important; 
}

.table_custom td{
  color: white !important;
}

