{% extends "base.html" %}

{% block body %}
<div class="container">
    <div class="mt-4">
        <h1>SCEGLI IL VISORE </h1>
        <p class="fs-5">Avviare l'applicazione sul visore</p>
    </div>
    <br>
    <form action="" method="post">
        <div class="mt-4 border d-inline-flex rounded bg-light-subtle bg-gradient w-50 justify-content-center align-items-center position-relative " style="height: 150px;">
            <div class="mt-4 d-inline-flex flex-wrap justify-content-evenly">
                {% if clients_ip %}
                    {% for ip in clients_ip %}
                    <div style="width: 196px;" class="my-1 text-black" id="text">
                        <input type="radio" name="client" id="{{ip}}" value="{{loop.index-1}}" required>
                        <label for="{{ip}}" class="text-black">{{ip[0]}}</label>
                    </div>
                    {% endfor %}
                {% else %}
                    <p id="text" class="text-black "> Non sono stati trovati visori. </p>
                {% endif %}
            </div>
            <button type="button" id="ricarica" name="ricarica" class="btn btn-outline-secondary btn-sm me-2 mb-1 position-absolute bottom-0 end-0"><i class="fas fa-sync-alt"></i></button>
        </div>
        <div class="row mt-4 justify-content-end mx-4 ">
            {% include 'errors.html' %}
            <div class="col-md-1"></div>
            <div class="col-md-2">
                {% if clients_ip == [] %}
                    <input class="btn btn-primary btn-lg" type="submit" name="submit" value="Conferma" disabled >
                {% else %}
                    <input class="btn btn-primary btn-lg" type="submit" name="submit" value="Conferma">
                {% endif %}
            </div>
        </div>
        
    </form>
    </div>
</div>
<script>
    const refresh = document.getElementById('ricarica');

    function Refresh_text(){
        const text = document.getElementById('text');
        text.innerHTML ='Ricerca visori...';
        refresh.innerHTML = '<i class="fa-solid fa-sync fa-spin"></i>'

    }

    refresh.addEventListener('click',function(){
        Refresh_text();
        setTimeout(function(){
            window.location.reload();
        }, 2000)
    });
</script>


{% endblock %}