{% extends 'base.html'%}

{% block body %}
<div class="container position-relative">
    {% include 'sessions_info_component.html' %}
    <div class="mt-1">
        <h1>SESSIONE IN CORSO</h1>
    </div> 
    <!--
    <div class="row mt-4">
        <div class="col">
            <h3>{{user.name}}</h3>
        </div>
        <div class="col">
            <h3>{{user.surname}}</h3>
        </div>
        <div class="col">
            <h3>{{user.code}}</h3>
        </div>
    </div>
    -->
    <hr>
    <div class="d-lg-flex d-md-inline-block  mt-4 justify-content-evenly ">
        <div id="exercises">
            {% for ex in data %}
                <div>{{ex.name}} <i id="{{ex.id}}" class="ms-2 fa-xl fa-solid fa-spinner fa-spin"></i></div>
                <hr>
            {% endfor %}
        </div>
    </div>
    <div class="row mt-4 justify-content-end">
        <div class="col-sm-3">
            <button id="next" class="btn btn-lg btn-outline-primary" disabled>Avanti</button>
        </div>
        
    </div>
</div>

{% block socketio %}
<script>

    var socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on('connect', function() {
        console.log('Connected to server...');
    });

    socket.on("disconnect-vr",function(){
        console.log("socket disconnected");
        alert("Il visore è stato disconnesso.");
        window.location.href = "/connect-vr"; 
    });

    socket.on("exercise",function(id){
        console.log("finished "+id);
        document.getElementById(id).setAttribute('class','ms-2 fa-xl fa-solid fa-check');
    });

    socket.on("end_session",function(){
        console.log("Session ended");
        var button = document.getElementById("next")
        button.disabled = false;
    });
        
    document.getElementById("next").addEventListener("click", function() {
        alert("La sessione è terminata !");
        window.location.href = "/user"; // Change to your desired URL
    });

</script>
{% endblock %}



{% endblock %}