{% extends 'base.html'%}

{% block body %}
<div class="container position-relative">
    <div class="mt-1">
        <h1>SESSIONE IN CORSO</h1>
    </div> 
    <div class="row mt-4">
        <div class="col">
            <h3>{{user.name}}</h3>
        </div>
        <div class="col">
            <h3>{{user.surname}}</h3>
        </div>
        <div class="col">
            <h3>{{user.code}}</h3>
        </div>
    </div>
    <hr>
    <form action="{{url_for('save') }}" id="form" method="post">
        <input type="hidden" name="user_id" value="{{user.code}}">
        <div class="d-lg-flex d-md-inline-block mt-4 justify-content-evenly">
            <div id="exercises">
                <table class="table table_custom text-white">
                    <tbody>
                    {% for ex in data %}
                    <tr>
                        <td>{{ex.name}}</td>
                        <td><i id="{{ex.id}}" class="mx-4 fa-xl fa-solid fa-spinner fa-spin"></i></td>
                        <td><input name="ex_{{ex.id}}" id="ex_{{ex.id}}" type="text" size="10" maxlength="10"> kg/Res</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="controller" class="mt-4 d-block">
                <h3 id="testo_pausa" class="d-none">In pausa</h3>
                <div class="button-container mt-4">
                    <button class="btn btn-lg btn-light mx-2" type="button" disabled id="play"><i class="fa-solid fa-play"></i></button>
                    <button class="btn btn-lg btn-danger mx-2" type="button" id="pause"><i class="fa-solid fa-pause"></i></button>
                </div>
                <div class="mt-4 justify-content-center">
                    <h3>Allunga la pausa</h3>
                    <button class="break btn w-50 btn-light mx-2" type="button" id="break_extend"><i class="fa-solid fa-forward"></i></button>
                </div>
                <div class="mt-4 justify-content-center">
                    <h3>Interrompi la pausa</h3>
                    <button class="break btn w-50 btn-light mx-2" type="button" id="break_interrupt"><i class="fa-solid fa-stop"></i></button>
                </div>
            </div> 
        </div>
        <div class="row mt-4 justify-content-end">
            <div class="col-sm-3">
                <input id="next" class="btn btn-lg btn-outline-primary" type="submit" value="Avanti" disabled>
            </div>
            
        </div>
    </form>
    
</div>

{% endblock %}
